<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>


    <header class="main-header">
   
        <div class="main-header-top-bar">
            <div class="main-header-logo-search">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <nav class=search>
                <input type="text" name="search" placeholder="Buscar productos, marcas" ><i class="fas fa-search"></i>
                
            </nav>
        </div>

            <h2 class="compraEnCuotas">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y con tarjeta de crédito
            </h2>
        </div>

    
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li>Óferta</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayudas</li>
            </ul>

            <ul class="right-navbar">
                <li>Creá tu cuenta<i class="far fa-address-card"></i></li>
                <li>Ingresá<i class="fas fa-sign-in-alt"></i></i></li>
                <li>Mis compras<i class="fas fa-shopping-basket"></i> </i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>
    <form action="/registro" method="POST">

        <div class="register-date-bar">
            <div class="date-bar-register">
                <input type="text" name="nombreYApellido" placeholder="Nombre y Apellido" reguired>
            </div>

            <div class="date-bar-register">
                <input type="text" name="nombreDeUsuario" placeholder="Nombre de Usuario" reguired>

            </div>

            <div class="date-bar-register">
                <input type="email"name="" placeholder="Email" reguired>
            </div>

            <div class="date-bar-register">
                <h3>Fecha de nacimiento</h3>
                <input type="date" name="fechaDeNacimiento" required>
            </div>

            <div class="date-bar-register">
                <h3>Perfil del Usuario</h3>
                <label>
                    <input type="checkbox" name="perfilDelUsuario">Comprador
                </label>
                <label>
                    <input type="checkbox" name="perfilDelUsuario">Vendedor
                   </label>
            </div>

            <div class="date-bar-register">
                <h3>Interes</h3>
                <label><input type="radio">"Electro"</label>
                <label><input type="radio">"Moda"</label>
                <label><input type="radio">"Hogar"</label>
                <label><input type="radio">"Jugueteria"</label>
                <label>"Vida sana"<input type="radio"></label>
            </div>

            <div class="date-bar-register">
                <input type="file" name="FotoDeUsuario" accept=".jpg, .png">
            </div>

            <div class="date-bar-register">
                <input type="password" name="contraseña" placeholder="Contraseña" reguired>

            </div>

            <div class="date-bar-register">
                <input type="password" name="confirmarContraseña" placeholder="Confirmar Contraseña" reguired>
            </div>

            <div class="date-bar-register">
                <button type="submit">Enviar</button>
            </div>

            <div class="date-bar-register">
                <button type="reset">Borrar</button>
            </div>


            

            

            

           

            

            

        
        </div>
    </form>
    </main>

    <footer>
        <nav>
            <div class="iconfoot">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>

            <div class="iconfoot">
                <i class="fas fa-gift"></i>
            </div>
            <h3><strong>Envío gratis desde $ 2.500</strong></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

            <div class="iconfoot">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3><strong>Seguridad, de principio a fin</strong></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </nav>
    </footer>

    </body>
</html>